{% extends 'layout.html' %}

{% block title %}Resume Builder{% endblock %}

{% block content %}

<h1 class="page-title">📄 Resume Builder</h1>

<div class="card">

    <form method="POST" action="/resume_builder">

        <label>Full Name</label>
        <input type="text" name="name" required>

        <label>Email</label>
        <input type="email" name="email" required>

        <label>Mobile Number</label>
        <input type="text" name="mobile" required>

        <label>Address</label>
        <textarea name="address" required></textarea>

        <label>Education</label>
        <textarea name="education" required></textarea>

        <label>Skills</label>
        <textarea name="skills"
        placeholder="Java, Python, MySQL, HTML, CSS"></textarea>

        <label>Projects</label>
        <textarea name="projects"></textarea>

        <label>Internship / Experience</label>
        <textarea name="experience"></textarea>

        <label>Certifications</label>
        <textarea name="certifications"></textarea>

        <br><br>

        <button type="submit" class="btn-submit">
            Generate Resume
        </button>

    </form>

</div>

{% endblock %}